div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-validation-errors {
    border: 2px solid red;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
}

.wpcf7-display-none {
    display: none;
}

.error{
    color: red;
}

.success{
    color: green;
}